.card-pay{
  float: left;
  position: relative;
  margin: 30px auto 40px 50px;
  
}

.card-shopping{
  font-size: 28px;
}
.img-product{
  margin-bottom: 15px;
  margin-left: 20px;
  max-height: 140px;
}
.show-cart li {
    display: flex;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-img {
    width: 80%;
    margin-left: 10%;
    align-self: center;
  }
.all-book li{
  padding: 30px 2% 0;
}
  .product-books{
  width: 330px;
}
.img-books{
  height: 300px;
}
.panel-footer{
  height: 80px;
}
.add-to-cart{
  margin-top: 20px;
}

/*  ------------------------------------      Pay      ----------------------------------------------- */
.titlePay{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  font-weight: bold;
}
.payBook{
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  margin-left: 40px;
}
#namePay, #addressPay,#phonePay{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  border-radius: 6px;
}
.payBook tr td select, .payBook tr td input{
  margin-bottom: 20px  ;
  margin-top: 13px;
  margin-left: 15px;
}
.cardPay td{
  margin: auto 30%;
}
.clLeft{
  width: 30%;
}
.clRight{
  width: 70%;
}
.totalPay{
  font-weight: bold;
}
  