.table-season{
    width: 100% ;
    background-color: rgb(215, 238, 241);
}
.table-season tr td{
    width: 25%;
}
.season{ 
    border-radius: 35px;
    margin-top: 40px ;
    margin-left: 10%;
    margin-bottom: 20px;
}
.table-season td a{
    text-decoration: none;
}
.table-title-season td{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    padding-bottom: 10px;
}
.table-event{
    width: 100%;
    min-height: 600px;
}
.main-show{
    width: 75%;
    padding-left: 7%;
    padding-right: 10px;
}
.zone{
    margin: 20% 35% 78% 5%;
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.festival-list{
    width: 25%;
    min-height: 900px;
    position:absolute;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
.festival-list ul{
    position: absolute;
    width: 90%;
    border: groove  ;
    border-radius: 15px;  
    min-height: 500px;

}
.festival-list ul li {
    
    list-style-type: none;
    padding: 3px 10px 3px 25px;
    margin-left: 10px;
    border-bottom: groove 0.5px;
}
.festival-list ul li a{
    text-decoration: none;    /*xóa gạch dưới*/ 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    display: block;
}
.hot-event{
    color: black;
    position: absolute;
    right: 29px;
    animation-name: hot;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count:infinite;  /*lặp vô hạn*/
    animation-play-state:running;
    
    
}
.repeat-event{
    text-align: center;
    color: green;
}
@keyframes hot {
    0% {filter: drop-shadow(0 0 3px red);}
    50% {filter: drop-shadow(0 0 3px yellow)    ;}
    100% {filter: drop-shadow(0 0 3px blue);}
}

/* -----------  chỉnh cho 4 mùa  ----------------------------- */
.title-content{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family:cursive;
}

.captionF {
    padding: 5px 300px 5px 100px; 
    
}
.captionF a{
    border-bottom: groove 0.5px ;
    text-decoration: none;
    display: block;
}
.captionF p{
    color: rgb(138, 4, 247);
 
}
.caption-Festival{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 153, 0);

}
/* tính like */
#like-button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    margin: 30px;
}
#like-button:hover{
    background-color: rgba(149, 155, 243, 0.849);

}
.likeYes{
    background-color: rgb(0, 119, 255);
    color: white;
}
.commentFestival{
    margin-left: 10%;
    font-size: 20px;
}
.printF{
    width: 80%;
    min-height: 200px;
    border: groove;
}
.commentF{
    margin-left: 10px;
    resize: none;
    width: 70%;
    padding-left: 10px;
}
.printComment {
    list-style-type: none;
    
}
.opinion{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#buttonComment{
    background-color: rgb(0, 81, 255);
    color: white;
    float: right;
    margin-right: 30%;
    margin-bottom: 10px;
}
