.table-season{
    width: 100% ;
    background-color: rgb(215, 238, 241);
}
.table-season tr td{
    width: 25%;
}
.season{ 
    border-radius: 35px;
    margin-top: 40px ;
    margin-left: 10%;
    margin-bottom: 20px;
}
.table-season td a{
    text-decoration: none;
}
.table-title-season{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}
.table-event{
    width: 100%;
    min-height: 600px;
}
.main-show{
    width: 80%;
    padding-left: 7%;
    padding-right: 10px;
}
.festival-list{
    width: 20%;
    height: 600px;
    position:absolute;
    margin-top: 50px;
    margin-bottom: 10px;
    
}
.festival-list ul{
    position: absolute;
    width: 90%;
    border: groove  ;
    border-radius: 15px;  
    height: 500px;

}
.festival-list ul li {
    
    list-style-type: none;
    padding: 3px 5px 3px 25px;
    margin-left: 10px;
    border-bottom: groove 0.5px;
}
.festival-list ul li a{
    text-decoration: none;    /*xóa gạch dưới*/ 
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    display: block;
}
.hot-event{
    color: black;
    float: right ;
    padding-right: 10px;
    animation-name: hot;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count:infinite;  /*lặp vô hạn*/
    animation-play-state:running;
    position: relative;
    
}
.repeat-event{
    text-align: center;
    color: green;
}
@keyframes hot {
    0% {filter: drop-shadow(0 0 3px red);}
    50% {filter: drop-shadow(0 0 3px rgb(255, 174, 0));}
    100% {filter: drop-shadow(0 0 3px blue);}
}