/* --- star --- */
*{
    margin: 0;
    padding: 0;
}



/* //////////////////////////////////////////        NAV          ///////////////////////////////////////////////////// */
nav{
    top: 0;
    width: 100%;
    height: 450px;
    position: relative;
    background-repeat: no-repeat;
    background-color: aquamarine;
    background-image: url(../images/event/qwe.jpg);
    background-size: cover;
    
}
.search{
    
    margin: 15px 300px 10px;
    font-weight: bold;
}
.search input{
    position: absolute;
    background-color: rgb(236, 197, 233);
    border-radius: 10px;
    width: 250px;
    height: 30px;
}
.search button{
    border-bottom-right-radius : 10px ;
    border-top-right-radius : 10px ;
    background-color: rgb(236, 197, 233);
    width: 30px;
    padding-top: 5px;
    margin-left: 220px;
    position: absolute;
    font-size: 15px;
    color: green;
   
}
header{
    visibility: hidden;
    font-size: 25px;
    margin-left: 35px;
    padding:  30px auto 10px 50px ;
    font-family: cursive;
    color: rgb(243, 44, 44);
    font-style: italic;
    font-weight: bold;
}
.logo{
    
    width: 220px;
    height: 100px;
    float: left;
    margin: auto 10px;
    opacity: 0.7;
}

/* chỉnh bao quát cả khung */ 
.menu{
    margin-top: 100px;
    min-height:50px;
    width: 1300px;
    margin: 20px 10px ;
    font-size: 20px;
    
        
}

/* chỉnh li  menu lever 1 */ 
 .menu > li {
    list-style-type: none; /* xóa dấu chấm đầu hàng*/ 
    position: relative;
    border-top: groove 1px;
}
/* -------   Float   ------ */
.float_left{
    float: left;
    display: block;
}
 .float_right{
    float: right;
    display: block;
}

/* chỉnh tag A */ 
 .menu >li a{
    text-decoration: none;    /*xóa gạch dưới*/ 
    padding: 5px 15px 13px 15px;
    line-height: 40px;
    display: block;
}



/* chỉnh menu lever  2 */
.menuSub {
    
    min-width: 200px;
    min-height: 200px;
    filter: drop-shadow(0 0 3px black);

    background-color: white;
    position: absolute;
    border-radius: 10px;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 150%;  
}
.menuSub > li {
    list-style-type: none; /* xóa dấu chấm đầu hàng*/ 
    position: relative;
    
}

.menuSub  > li > a {
    border-bottom: 1px groove ;
    text-shadow: none;
    display: block;
    padding: 10px;
    font-weight: bold;
    line-height: 40px;
  }
.x{
    padding-left: 52%;
}
.y{
    padding-left: 14%;
}


/* ////////////////////////////////////////////////////////////////////////////////// */


/* ----- Hiệu ứng ----- */
.menu li a:hover{
    
    color: green;
}
.menu  li:hover > ul {
    /* display: block; */
    visibility: visible;
    opacity: 0.6;
    top: 100%;
    
}

.logo:hover {
    opacity: 1;
}

.menu > li a::after{
    content: "";
    height: 5px;
    width: 0;
    border-radius:15px;
    background-color: rgb(20, 179, 41);
    position: absolute;
    top: 0;
    left: 50%;
    transition: all 0.5s ease-in-out;
}
.menu > li >a:hover::after{
    left: 0;
    right: 0;
    width: 100%;
}

.menuSub  li > a::after{
    content: " ";
    height: 0px;
    width: 5px;
    border-radius:15px;
    background-color: rgb(20, 179, 41);
    position: absolute;
    top: 0% ;
    left: 0%;
    
    transition: all 0.5s ease-in-out;
}
.menuSub  li > a:hover::after{
   
    height: 90%;
}



/* //////////////////////////////////////////        Section          ///////////////////////////////////////////////////// */

section{
    margin: 5px 5%;
}
.table_news{
    width: 100%;
}
.title_table{
    text-align: center;
    font-size: 38px;
    font-family: cursive;
    font-weight: bold;
    color: rgb(247, 205, 15);

}
 .table_news img{
    padding: 20px;
    
}

.table_news .table_tr2  .td2{
    font-size: 15px;
    padding: 20px;

}
.table_news .span1 {
    top: 0;
    font-size: 25px;

}

/* --chỉnh kích cở khung  */
.table_news .table_tr2 td{
    width: 50%;
}
.table_news .table_tr3 td{
    width: 25%;
}
.table_news .table_tr4 td{
    font-size: 15px;
    text-align: center;
    padding: 20px;
    text-decoration: none;    /*xóa gạch dưới*/ 
    color: blue;
}

/* ----------   table hot   ---------- */
.table_hot{
    width: 100%;
}
.table_hot tr{
    width: 50%;

}
.table_hot img{
    padding: 20px;
    width: 100%;
    border-radius: 35px;
    
}
.table_sizeL img{
    height: 450px;
}
.table_sizeM{
    width: 25%;
}
.table_sizeL{
    width: 50%;
}


/* //////////////////////////////////////////        Footer          ///////////////////////////////////////////////////// */
footer{
    width: 100%;
    
}
.footer1{
    width: 100%;
    min-height: 300px;
    background-color:rgb(250, 241, 234) ;
    padding: 3px 0 0 15px;
    color: black;
}
.table_footer{
    width: 100%;
    padding: 10px 20px;
   
}

.footer2
{
    font-size: 17px;
    font-weight: bold;
    min-height: 100px;
    background-color: rgb(255, 60, 0);
    color: black;
    padding: 10px 20px;
}
.as{
    padding-top: 40px;
}
#mapASIA{
    width: 500px;
    height: 440px;
    float: right;
    padding-right: 20px;

}

/* ----------------------------- JAVASCRIP Festival ------------------------------ */
#festival{
    margin: auto 50px;
}
#festival p{
    font-size: 18px;
    padding: 5px auto;
}
.name-Festival{
    font-size: 45px;
    font-family:cursive;
    font-weight: bold;
    padding-top: 30px;
}
.title-Festival{
    font-size: 33px;
    margin-bottom: 20px;
    margin-top: 50px;
}
#festival img{
    
    margin: 15px 10% 55px;
    width: 80%;
}
#festival .img-Festival img{
    filter: drop-shadow(0 0 5px blue);
}




