/* --- star --- */
*{
    margin: 0;
    padding: 0;
}



/* //////////////////////////////////////////        NAV          ///////////////////////////////////////////////////// */
nav{
    top: 0;
    width: 100%;
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/Nav/nav.jpg);
    background-size: cover;
    
}

.search{
    
    margin: 15px 300px 10px;
    font-weight: bold;
}
.search input{
    position: absolute;
    background-color: rgb(236, 197, 233);
    border-radius: 10px;
    width: 250px;
    height: 30px;
}
.search button{
    border-bottom-right-radius : 10px ;
    border-top-right-radius : 10px ;
    background-color: rgb(236, 197, 233);
    width: 30px;
    padding-top: 5px;
    margin-left: 220px;
    position: absolute;
    font-size: 15px;
    color: green;
   
}
header{
    visibility: hidden;
    font-size: 25px;
    margin-left: 35px;
    padding:  30px auto 10px 50px ;
    font-family: cursive;
    color: rgb(243, 44, 44);
    font-style: italic;
    font-weight: bold;
}
.logo{
    border-radius: 10px;
    width: 220px;
    height: 100px;
    float: left;
    margin: auto 10px;
    opacity: 0.7;
}

/* chỉnh bao quát cả khung */ 
.menu{
    margin-top: 100px;
    min-height:50px;
    width: 1300px;
    margin: 20px 10px ;
    font-size: 20px;
    
        
}

/* chỉnh li  menu lever 1 */ 
 .menu > li {
    list-style-type: none; /* xóa dấu chấm đầu hàng*/ 
    position: relative;
    border-top: groove 1px;
}
/* -------   Float   ------ */
.float_left{
    float: left;
    display: block;
}
 .float_right{
    float: right;
    display: block;
}

/* chỉnh tag A */ 
 .menu >li a{
    text-decoration: none;    /*xóa gạch dưới*/ 
    padding: 5px 15px 13px 15px;
    line-height: 40px;
    display: block;
}



/* chỉnh menu lever  2 */
.menuSub {
    
    min-width: 200px;
    min-height: 200px;
    filter: drop-shadow(0 0 3px black);

    background-color: white;
    position: absolute;
    border-radius: 10px;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 150%;  
}
.menuSub > li {
    list-style-type: none; /* xóa dấu chấm đầu hàng*/ 
    position: relative;
    
}

.menuSub  > li > a {
    border-bottom: 1px groove ;
    text-shadow: none;
    display: block;
    padding: 10px;
    font-weight: bold;
    line-height: 40px;
  }
.x{
    padding-left: 52%;
}
.y{
    padding-left: 14%;
}


/* -------------------------------------------------------------------------------------------------------------------- */


/* ----- Hiệu ứng ----- */
.menu li a:hover{
    
    color: green;
}
.menu  li:hover > ul {
    /* display: block; */
    visibility: visible;
    opacity: 0.6;
    top: 100%;
    
}

.logo:hover {
    opacity: 1;
}

.menu > li a::after{
    content: "";
    height: 5px;
    width: 0;
    border-radius:15px;
    background-color: rgb(20, 179, 41);
    position: absolute;
    top: 0;
    left: 50%;
    transition: all 0.5s ease-in-out;
}
.menu > li >a:hover::after{
    left: 0;
    right: 0;
    width: 100%;
}

.menuSub  li > a::after{
    content: " ";
    height: 0px;
    width: 5px;
    border-radius:15px;
    background-color: rgb(20, 179, 41);
    position: absolute;
    top: 0% ;
    left: 0%;
    
    transition: all 0.5s ease-in-out;
}
.menuSub  li > a:hover::after{
   
    height: 90%;
}

/* //////////////////////////////////////////        Feedback          ///////////////////////////////////////////////////// */
textarea{
    resize: none;
    width: 100%;
    padding-left: 10px;
}
.foreword{
    font-size: 18px;
    padding: 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(238, 92, 34);
    filter: drop-shadow(0 0 2px yellow);

}

.table-feedback{
    margin: auto;
    width: 70%;
}
.table-feedback .title_table_feedback{
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
 .table-feedback .column_right, .table-feedback .column_left{
    padding-bottom:  15px;
}
.table-feedback .column_left{
    font-weight: bold;
    font-size: 20px;
    width: 250px;
}
.table-feedback .column_right{

    font-size: 17px;
    padding-left: 20px;
}
.table-feedback .text-input input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: groove;
}
.table-feedback .commentText{
    font-weight: bold;
    font-size: 20px;
}

/* //////////////////////////////////////////        Section          ///////////////////////////////////////////////////// */
input:required:valid        /* màu khi nhập đúng */
    {
        color: green;
        
    }
input:required:invalid      /* màu khi nhập sai */
    {
        color: red;
    }
section {
    margin: 10px 0%;
}
.table_news{
    width: 100%;
}
.title_table{
    text-align: center;
    font-size: 38px;
    font-family: cursive;
    font-weight: bold;
    color: rgb(247, 205, 15);

}
 .table_news img{
    padding: 20px;
    
}

.table_news .table_tr2  .td2{
    font-size: 15px;
    padding: 20px;

}
.table_news .span1 {
    top: 0;
    font-size: 25px;

}

/* --chỉnh kích cở khung  */
.table_news .table_tr2 td{
    width: 50%;
}
.table_news .table_tr3 td{
    width: 25%;
}
.table_news .table_tr4 td{
    font-size: 15px;
    text-align: center;
    padding: 20px;
    text-decoration: none;    /*xóa gạch dưới*/ 
    color: blue;
}

/* ----------   table hot   ---------- */
.table_hot{
    margin-top: 150px;
    width: 100%;
}
.table_hot tr{
    width: 50%;

}
.table_hot img{
    padding: 20px;
    width: 100%;
    border-radius: 35px;
    
}
.table_sizeL img{
    height: 450px;
}
.table_sizeM{
    width: 25%;
}
.table_sizeL{
    width: 50%;
}
/* ///////////////////////////////////////////     time next festival     ////////////////////////////////////////////// */
#time-festival h2{
    position: absolute;
    padding-left: 50px;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    color: yellow;
}
#time-festival{
    width: 100%;
    height: 600px;
    background-image: url(../images/time.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#time-festival #time{
     display:flex;
     padding-top: 80px;
     margin-left: 00px;
 }
#time-festival #time div{
    width: 230px;
    height: 250px;
    position: relative;
    background-image: url(../images/timex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px 30px;

 }
 #time-festival #time div span{
     padding-top: 40px;
    position: relative;
    display:block;
    color: rgb(255, 0, 0);
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index:3;
 }
 .text-time{
     font-size: 30px;
     font-family: cursive;
     font-weight: bold;
     font-style: italic;
     filter: drop-shadow(0 0 3px rgb(238, 255, 0));
 }
 #time-festival p{
     font-size: 15px;
     color: rgb(208, 255, 0);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 0 250px 0 50px;
     font-style: italic;
     
 }
#day, #minute, #hour, #second{
    font-size: 60px;
}

#time-festival #time div{
    position: relative;
    margin: 0 0px 0 5;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0004);
}
/* //////////////////////////////////////////        Footer          ///////////////////////////////////////////////////// */
.up{
    margin: auto;
    opacity: 0.3;
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.up img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.up:hover{
    opacity:0.9;
    
}
footer{
    width: 100%;
    
}
/* ----------------    contact     ------------------------------------ */
.footer1 .contact{
    margin: auto;
    font-size: 17px;
}
.footer1 .contact a:link{color:green;}
.footer1 .contact a:hover{color: yellow;}
.footer1 .via{
    padding-left: 20px;
    font-size: 20px;
    font-style: italic;
    color: rgb(230, 68, 19);
}
.footer1 .icon span{
    padding-left: 40px;
}

/* ----------------    Table Footer1     ------------------------------------ */
.footer1 .table_footer1{
    margin-left: 20%;
}
.footer1 .title_table_footer1{
    color: rgb(255, 17, 0);
    filter: drop-shadow(0 0 2px yellow);
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.footer1 .text input{
    width: 350px;
    height: 35px;
    border: groove;
    border-radius: 7px;
    margin-bottom: 20px;
}
.footer1 .ok{
    
    margin-left: 125px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.footer1{
    background-image: url(../images/Footer/footer1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 300px;
    background-color:rgb(250, 241, 234) ;
    padding: 3px 0 0 15px;
    color: black;
    padding: 10px 20px;
}

.footer1 td{
    width: 33.333%;
}  
.mapASIA{
    width: 90%;
    height: 90%;
    padding:20px;
}


.footer2
{
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    min-height: 150px;
    background-color: rgb(255, 123, 0);
    color: white;
    padding: 10px 20px;
}
.footer2 td {
    width: 50%;
    margin: auto;
}
.footer2 td div {
    margin-left: 23%;
}

.footer2 td div a img{
    width: 10%;
    opacity: 0.3;
    margin-left: 20px ;
    
}
.footer2 td div a img:hover{
    opacity: 1;
}
.follow{
    text-align: center;
    color: black;
}
.copyRight{
    padding-left: 30px;
}
.view{
    font-size: 20px;
    padding: 40px auto 50px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: yellow;
    margin-left: 80px;
}

/* ----------------------------- JAVASCRIP Festival ------------------------------ */
.name-Festival{
    font-size: 45px;
    font-family:cursive;
    font-weight: bold;
    padding-top: 30px;
    color: red;
}
.title-Festival{
    font-size: 33px;
    margin-bottom: 20px;
    margin-top: 50px;
}
 .content-Festival p{
    font-size: 18px;
    padding: 5px auto;
    margin: 0 3% 5px;    
}


 .content-Festival img{
    margin: 15px 5% 15px;
    width: 80%;
}




